@model IEnumerable<TRABAJO_FINAL.Models.Doctor>
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
 *@
@{
}
<html>
    <head>
            <link rel="stylesheet" href="~/css/estilos2.css">
    </head>
    <body>
        <h2><a asp-action="NuevoDoctor">Nuevo Doctor</a></h2>
        <h3 class="alert-primary">Listado de doctores</h3>
        <table class="table">
            <tr>
                <td>Codigo</td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Especialidad</td>
                <td>Correo</td>
                <td>Contraseña</td>
                <td>Eliminar</td>
                <td>Modificar</td>
                
            </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdDoctor</td>
                        <td>@item.NombreD</td>
                        <td>@item.ApellidoD</td>
                        <td>@item.IdEspecialidad</td>
                        <td>@item.CorreoD</td>
                        <td>@item.ContraseñaD</td>
                        <td><a asp-action="Eliminar" asp-route-id="@item.IdDoctor">Eliminar</a></td>
                        <td><a asp-action="Modificar" asp-route-id="@item.IdDoctor">Modificar</a></td> 
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>