@model IEnumerable<TRABAJO_FINAL.Models.CitaTemporal>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html lang="es">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/estilos3.css" type="text/css" media="screen">
        <meta charset="UTF-8">
    </head>
    <body>

        <div class="login-box">
             <h1>Registro de citas </h1>

        <h1>@TempData["nomb"], @TempData["esp"], @TempData["nomdoc"] </h1>
        

            @*<div class="form-group">
                <label >Nombre: @ViewData["nomb"] @ViewData["apel"]</label>
                
            </div>
            <div class="form-group">
                <label >Especialidad : @ViewData["esp"] </label>
                
            </div>
            <div class="form-group">
                <label >Doctor : @ViewData["nomdoc"] @ViewData["apedoc"] </label>
                
            </div>
           
            <div class="form-group">
                <label >Horario: @ViewData["inicio"] @ViewData["final"] </label>
                
            </div>*@

            

        </div>

    </body>
</html>