@*
    @model TRABAJO_FINAL.Models.CitaTemporal
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
    <head>
    <link rel="stylesheet" href="~/css/estilos3.css">
    </head>
    <body>
        <div class="login-box">
             <h1>Registro de citas </h1>
             
             <form asp-controller="Cita" asp-action="GrabarCita" method="post">

                <input type="hidden" name="nomUsu" value="@TempData["nomb"]" />
                <input type="hidden" name="apeDoc" value="@TempData["apedoc"]" />
                <input type="hidden" name="nomEsp" value="@TempData["esp"]" />

                <h1>Estimado(a) @TempData["nomb"]</h1>
                <h1>Usted tendra una cita en @TempData["esp"]</h1>
                <h1>con el Dr. @TempData["apedoc"] </h1>

                <label>Seleccione alguno de los horarios: </label><br />
                <select name= "hora">
                        <h1>Hora</h1>
                        <option selected>07:00:00</option>
                        <option>08:00:00 </option>
                        <option>09:00:00 </option>
                        <option>10:00:00 </option>
                        <option>11:00:00 </option>
                        <option>12:00:00 </option>
                        <option>13:00:00 </option>
                        <option>14:00:00 </option>
                </select>

                <select name= "dia">
                        <h1>Dia</h1>
                        <option selected>Lunes</option>
                        <option>Martes</option>
                        <option>Miercoles</option>
                        <option>Jueves</option>
                        <option>Viernes</option>
                        <option>Sabado</option>
                        <option>Domingo</option>
                </select>

                <select name="costo">
                    <h1>Costo</h1>
                    <option selected>65,00</option>
                </select>

                <input type="submit" value="Aceptar">
                
             </form>
        </div>
    </body>
</html>